/* Error: There is no module with the namespace "color".
 *     ,
 * 481 |             background-color: color.adjust($btn-bg, $lightness: -10%);
 *     |                               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   scss\style.scss 481:31  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "color".\a     \2577 \a 481 \2502              background-color: color.adjust($btn-bg, $lightness: -10%);\d\a     \2502                                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   scss\\style.scss 481:31  root stylesheet';
}
